#top-main-navbar
    margin-bottom 0
#top-main-navbar .navbar-header a
    font-weight bold
    text-transform uppercase
#top-main-navbar #module-menu-items li
    padding 10px 10px
#top-main-navbar #module-menu-items li a
    border 1px solid transparent
    padding 5px 10px
#top-main-navbar #module-menu-items li a:hover
    border 1px solid #EEE
    background-color #F5F5F5
#top-main-navbar #module-menu-items li.active a
    background-image none
    background-color #EEE
    background-repeat no-repeat
    box-shadow none
#top-right-user-navbar
    margin-right 0
#admin-container
    padding-left 0
    padding-right 0
#admin-category, #admin-category .navbar-collapse
    padding-left 0
    padding-right 0
#admin-category .sidebar ul li a
    border-bottom 1px solid #E7E7E7
#admin-body
    border-left 1px solid #E7E7E7
#admin-body h3.page-header
    margin-top 20px
// Customize bootstrap
.page-header
    margin 20px 0 20px
