#top-main-navbar {
  margin-bottom: 0;
}
#top-main-navbar .navbar-header a {
  font-weight: bold;
  text-transform: uppercase;
}
#top-main-navbar #module-menu-items li {
  padding: 10px 10px;
}
#top-main-navbar #module-menu-items li a {
  border: 1px solid transparent;
  padding: 5px 10px;
}
#top-main-navbar #module-menu-items li a:hover {
  border: 1px solid #eee;
  background-color: #f5f5f5;
}
#top-main-navbar #module-menu-items li.active a {
  background-image: none;
  background-color: #eee;
  background-repeat: no-repeat;
  box-shadow: none;
}
#top-right-user-navbar {
  margin-right: 0;
}
#admin-container {
  padding-left: 0;
  padding-right: 0;
}
#admin-category,
#admin-category .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
#admin-category .sidebar ul li a {
  border-bottom: 1px solid #e7e7e7;
}
#admin-body {
  border-left: 1px solid #e7e7e7;
}
#admin-body h3.page-header {
  margin-top: 20px;
}
.page-header {
  margin: 20px 0 20px;
}
div.required label:after {
  color: #f00;
  content: "*";
  display: inline;
  font-weight: bold;
}
div.validation-error {
  color: #f00;
}
