extends ../includes/layout

block main-content
  div(id="wrapper")
    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(href="/") Financial Management
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(role="presentation", href="/") Home
            li
              a(role="presentation", href="/") Test
            li
              a(role="presentation", href="/signin") Sign In
            li
              a(role="presentation", href="/admin") Admin
          div(ng-include="'/partials/navigation/userNavigation'")
                    
    section.content
      div(ng-view)
        
    footer.container.text-center
      p &copy; 2015 Financial Mamagement
