ul.nav.nav-tabs
    li
        a(role="presentation", ui-sref="financial.input") Input Cash
    li
        a(role="presentation", ui-sref="financial.output") Output Cash
    li
        a(role="presentation", ui-sref="financial.fundsetting", class="active") Fund Setting
