div
    ul.list-inline
        li
            a(ui-sref='financial.fundsetting.editor')
                span.glyphicon.glyphicon-plus(title="Add fund setting")
                span Add
div.row
    .col-md-4.form-group.required
        label.control-label(for="period") Inputted date
        p.input-group
            input.form-control(type="text", uib-datepicker-popup="dd/MM/yyyy", ng-model="vm.model.inputDate", is-open="vm.status.open", close-text="Close", datepicker-mode="'month'", min-mode="'month'")
            span.input-group-btn
                button.btn.btn-default(type="button", ng-click="vm.open($event)")
                    i.glyphicon.glyphicon-calendar
        label.control-label(for="cash") Cash
        input.form-control(type="text", name="cash")
    .col-md-4.form-group
        label.control-label(for="source") Source
        input.form-control(type="text", name="source", ng-model="vm.model.source")
    .col-md-4.form-group
        label.control-label(for="member") From member
        select.form-control(name="member")
            option(ng-repeat="user in vm.users", value="user._id") {{user.firstName}} {{user.lastName}}
div
    .form-group
        .pull-right.btn-group
            button.btn.btn-default(type="button") Cancel
            button.btn.btn-primary(type="button", ng-click="vm.add();") Add
table.table.table-hover
    thead
        tr
            th Month
            th Total of Cash
            th Source
            th Lock
    tbody
        tr(ng-repeat="monthYear in vm.model.cashByMonth.months")
            td
                a {{monthYear}}
            td {{vm.model.cashByMonth.detail[monthYear].totalCash}}
            td Sample
            td Sample
ng-repeat(ng-repeat="monthYear in vm.model.cashByMonth.months")
    fn-input-cash-by-month(cash-by-month="vm.model.cashByMonth.detail[monthYear]")
