.panel.panel-default
    .panel-heading User Management
    .panel-body
        .btn-group
            button.btn.btn-primary(type="button") Actions
            button.btn.btn-primary.btn-toggle(type="button", data-toggle="dropdown")
                span.caret
            ul.dropdown-menu(role="menu")
                li
                    a(ui-sref="admin.users.create") Create New User
    table.table.table-hover
        thead
            tr
                th
                    input(type="checkbox", ng-model="vm.model.selectedAll", ng-click="vm.onSelectAll()")
                th Email
                th Full Name
        tbody
            tr(ng-repeat="user in vm.model.users")
                td
                    input(type="checkbox", ng-model="user.selected")
                td 
                    a(ui-sref="admin.users.edit({ id:user._id })") {{ user.username }}            
                td {{ user.firstName + ' ' + user.lastName }}
