doctype
html
    head
        title Financial Management
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap-theme.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.min.css", type="text/css")
    body(ng-app="fm")
        include currentUser
        block main-content
        include scripts
