h3.page-header Fund Information
.panel.panel-default
    .panel-body
        form.form-horizontal(name="fundEditorForm")
            .form-group
                label.col-md-2.control-label(for="name") Name
                .col-md-10
                    input.form-control(name="name", type="type", ng-model="vm.model.fund.name", required)
            .form-group
                label.col-md-2.control-label(for="description") Description
                .col-md-10
                    input.form-control(name="description", type="text", ng-model="vm.model.fund.description")
            .form-group
                .col-md-offset-2.col-md-10
                    .checkbox
                        label
                            input(name="isActive", type="checkbox", ng-model="vm.model.fund.isActive")
                            | Active
            .form-group
                .col-md-10.col-md-offset-2
                    .pull-right
                        button.btn.btn-primary(ng-click="vm.update()", ng-disabled="fundEditorForm.$invalid") Submit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="admin.funds") Cancel
